

<div class="wrapper">
  <% @cocktails.each do |cocktail| %>
  <div class="card-product">
    <img src="https://images.unsplash.com/photo-1496318447583-f524534e9ce1?ixlib=rb-1.2.1&auto=format&fit=crop&w=1105&q=80" />
      <div class="card-product-infos">
          <%= link_to cocktail.name, cocktail_path(cocktail)%>
      </div>
    </div>
  <% end %>
  
</div>  