<h1 class="text-center">Add a new cocktail</h1>

<div class="container">

<%= simple_form_for (@cocktail) do |f| %>
    <%= f.input :name %>
    <%= f.submit "Submit Cocktail", class: "btn btn-primary" %>
  <% end %>

<br><br><br>
<div class="text-center">
<%= link_to 'Back', root_path %>
</div>
</div>